---
import { type CollectionEntry, getCollection } from "astro:content";

export const prerender = true;

export async function getStaticPaths() {
    const posts = await getCollection("blog_posts");
    return posts.map((post) => ({
        params: { slug: post.id },
        props: post,
    }));
}
type Props = CollectionEntry<"blog_posts">;

import "../styles/global.css";
import Navigation from "../components/nav.astro";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{Astro.props.data.title}</title>
    </head>
    <body>
        <Navigation />
        <article set:html={Astro.props.rendered!.html} />
    </body>
</html>
