---
import { getCollection } from "astro:content";
const posts = await getCollection("blog_posts");
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro</title>
    </head>
    <body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>

        <h1>my astro site</h1>
        <h1>da blog</h1>
        <p>wip</p>
        <ul>
            {
                posts.map((post) => (
                    <li>
                        <a href={`/${post.id}`}>{post.data.title}</a>
                    </li>
                ))
            }
        </ul>
    </body>
</html>
