<head>
    <meta charset="utf-8" />
</head>
<style>
    a {
        color: #d1d2dc;
    }
    a:visited {
        color: #646881;
    }
</style>
<navigation>
    <h3>Neko (she/her)</h3>
    <a href="/">Home</a>
    <a href="/blog/">Blog</a>
    <hr width="100%" size="2" color="#646881" />
</navigation>
